
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif !important;
  background: rgb(106, 6, 108);
  background: linear-gradient(90deg, rgb(121, 14, 123) 0%, rgb(0, 0, 0) 100%);
}

p {
  font-weight: 300;
}

h1 {
  font-weight: 600;
}

h2{
  font-weight: 400;
}


a, .nav-link {
  color: inherit;
  text-decoration: none;
}

.nav-link:hover {
  color: white;
  cursor: pointer;
}

.navbar {
  position: fixed !important;
  width: 100%;
  height: fit-content;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  top: 0px;
  z-index: 100;
  background: #0E7876 !important;
  box-shadow: 0 2px 2px 0 rgba(109, 109, 109, 0.779), 0 6px 30px 0 rgba(191, 191, 191, 0.603);
}

.navbar-toggler-icon {
  color: black !important;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: 95vh;
  color: white;
}

.header {
  display: inline-block;
  font-size: 300% !important;
  margin-top: 10% !important;
}

@media (min-width: 2500px ){
  .header{
    font-size: 1000% !important;
  }
  .subheader {
    font-size: 400% !important;
  }
  .nav-link{
    font-size: 250% !important;
  }
  .fa-brands, .fa-solid {
    font-size: 400% !important;
  }
  .plain-text {
    font-size: 220% !important;
  }
  .card {
    width: 35rem !important;
    height: 34rem !important;
  }
}

.subheader {
  display: inline-block;
  font-size: 200%;
}

.hero-image {
  width: 80%;
  height: auto;
  box-shadow: 0 8px 4px -4px rgba(27, 3, 28, 0.41);
}

.fa-brands, .fa-solid {
  font-size: 200%;
}

.about {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: 100vh;
  color: white;
}

.plain-text {
  display: inline-block;
  font-size: 120%;
}

.about-image {
  border-radius: 50%;
  box-shadow: 0 2px 8px 0 rgba(109, 109, 109, 0.779), 0 6px 30px 0 rgba(191, 191, 191, 0.412);
  width: 50%;
  height: auto;
}

.card {
  width: 22rem;
  height: 25rem;
  color: white;
  background: #0E7876;
  border: 0px !important;
  transition: transform 0.5s;
  box-shadow: 6px 6px 10px 0 rgba(191, 191, 191, 0.411);
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}

.card-img-top {
  height: auto;
}

.card .btn {
  position: absolute;
  right: 42%;
  bottom: 0 ;
  margin-bottom: 15px;
}

.btn {
  background: #cecb17;
  box-shadow: 0 2px 8px 0 rgba(49, 49, 49, 0.779), 0 6px 30px 0 rgba(49, 49, 49, 0.779)
}

.btn:hover {
  background: rgba(164, 103, 157, 0.712)
}

.projects {
  position: relative;
  padding-top: 5vh;
  padding-bottom: 5vh;
  height: 100vh;
}

.projects h1{
  color: white;
  font-size: 5vw;
}

